        </div>
        <script type ="text/javascript">
            $(document).ready(() => {

                var socket = io.connect();

                $('#counterButton').click(() => {
                    socket.emit('buttonClicked')
                });
                $('#resetButton').click(() => {
                    socket.emit('resetClicked')
                });
                socket.on('numberUpdated', (number) => {
                    $('#number').text(number);
                    console.log(`number: ${number}`);
                    if(number != 1){
                        $('#times').show();
                        $('#times').text('(s)');
                    } else {
                        $('#times').hide();
                    }
                });
            });
        </script>
    </body>
</html>